asgiref==3.7.2
astroid==3.0.2
colorama==0.4.6
dill==0.3.7
Django==5.0
django-filter==23.5
djangorestframework==3.14.0
drf-yasg==1.21.7
gunicorn==21.2.0
inflection==0.5.1
isort==5.13.2
Markdown==3.5.1
mccabe==0.7.0
packaging==23.2
Pillow==10.1.0
platformdirs==4.1.0
pylint==3.0.2
pytz==2023.3.post1
PyYAML==6.0.1
sqlparse==0.4.4
tomlkit==0.12.3
tzdata==2023.3
uritemplate==4.1.1
